.action{
    display: flex;
    flex-direction: row;
}
.books
{
    height: 80vh;
    width: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    background-color: red;
}