.container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
}
.action{
    display: flex;
    flex-direction: row;
}




/* .card{
    display: flex;
    align-items: center;
    justify-content: center;
   
} */
.card-footer{
    background: white;
    border: none;
}
.books
{
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}
img {
   
    vertical-align: middle;
  }
.img4 { flex: 1.5023; }
body { background: #eee }

.container-fluid { max-width: 1200px; }

header {
	background: #563d7c;
	padding: 2em 1em;
	color: #fff;
	margin-bottom: 2em;

}

.card {
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin: 5px;

}

[class*="row"] {
	margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}

