<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="view/books">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/1200px-Closed_Book_Icon.svg.png" width="30" height="30" class="d-inline-block align-top" alt="" routerLink="view/books">
    Books Application
  </a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit" routerLink="add/books">Add Books</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="view/books">View Books </button>
  </form>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>