<div class="container">
    <form class="form mt-5" id="addBook" onsubmit="return false">
        
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book title" #title required>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter auhthor's name" #author required>
          </div>
  

          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book description" #description required>
          </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Image</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Select book image" #image required>
        </div>
        <button type="submit" class="btn btn-outline-success mr-2" (click)="addBook(title.value, author.value, description.value, image.value)" >Submit</button>
        <button type="button" class="btn btn-outline-danger mr-2" routerLink="/view/books">cancel</button>
      </form>
</div>
